body {
  font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;

height: 100vh1
}
.header{
position: fixed;
top:0;
height: 80px;
width: 100%;
font-family: "cursive";
color: #fff;

background: Linear-gradient(to right,black,black);
}

.header-logo{
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 40px;
  font-weight: bold;
}
.header-list li{

margin-top: 10px;
float: left;
list-style: none;
font-size: 20px;
color: #fff;
}
span{
  font-size: 40px;
  float: right;
  color: #ffff33;
  margin-right:  20px;
  margin-top: 10px;
}
.header-list li:active{
  background-color:#3399FF;

}
a{
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.wrapper2  {
position: relative;

  display: block;
  float: left;
  transform: translate(-50%, -50%);

}

.button2 {
  position: absolute;
  left: 400px;
padding: 0.5em 1.5em;
margin-top: 80px;
margin-left: 10px;
  text-decoration: none;
  color: white;

  font-size: 20px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;

  }



  &:hover {
    background-color: $color;
    color: yellow;
    border-bottom: 4px solid darken($color, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}


.wrapper  {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
margin-top: 0px;
z-index: -1;
font-size: 100px;
}

.button {
  padding: 0.2em 0.2em;
  text-align: center;
  text-decoration: none;
  color: white;




  &:hover {
    background-color: $color;
    color: blue;
    border-bottom: 4px solid darken($color, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}
