body {
  font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height:100vh;
z-index: -1;
color: white;
}
#particles-js{
	position:fixed;/*描画固定*/
	z-index:-1;/*描画を一番下に*/
	width: 100%;
	height: 100%;
	background-image: url("https://4.bp.blogspot.com/-9DwAUh0Gyk0/VQRM983j4QI/AAAAAAAATr0/0NqijPI4dv4/s1600/hoshizora-kabegami-2015-04.jpg");
background-size: cover;
}
#wrapper{
	position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
	z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
	width:100%;
	height: 100%;
}


.header{
position: fixed;
position: relative;
top:0;
height: 80px;
width: 100%;
font-family: "cursive";
color: #fff;
z-index: +1;
background: Linear-gradient(to right,black,black);
}

.header-logo{
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 40px;
  font-weight: bold;
}
.header-list li{

margin-top: 10px;
float: left;
list-style: none;
font-size: 20px;
color: #fff;
}
span{
  font-size: 40px;
  float: right;
  color: #ffff33;
  margin-right:  20px;
  margin-top: 10px;
}


}
a{
  text-decoration: none;
  color: #fff;
  text-align: center;
}
h5{
margin: auto;
  text-align: center;
  margin-top: 80px;
  font-size: 100px;
}

$color: #c20c48;

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: s1kewY(-45deg) translateX(12.5em);
  }
}

.wrapper  {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
margin-top: 100px;

}

.button {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  font-size: 24px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;

  }



  &:hover {
    background-color: $color;
    color: yellow;
    border-bottom: 4px solid darken($color, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}
.wrapper2  {
position: relative;

  display: block;
  float: left;
  transform: translate(-50%, -50%);

}

.button2 {
  position: absolute;
  left: 400px;
padding: 0.5em 1.5em;
margin-top: 80px;
margin-left: 10px;
  text-decoration: none;
  color: white;

  font-size: 20px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;

  }



  &:hover {
    background-color: $color;
    color: yellow;
    border-bottom: 4px solid darken($color, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}



.main-logo{
  padding-top: 70px;
  text-align: center;
  font-size: 40px;
}
.prologue{
  text-align: center;
padding-top: 10px;

}


.set li{
  width: fit-content;
list-style: none;
margin: auto;
font-weight: bold;
font-size: 20px;
}


.footer {

    color: #fff;
    text-align: center;
  bottom: 0;
    width: 100%;
    position: fixed;
    left: 0;
    padding: 0;
height: 40px;

}
